.vc_el-container [data-tag*=mimox_] i.vc_general, .wpb_mimox_calculator .vc_general, [class*="wpb_mimox"] .vc_general  {
    background: url(../images/vc_icon.png);
}

.row {
	margin-bottom:30px;
}

.row label {
	vertical-align:top;
	display:block;
	width:200px;
	text-align:left;
	margin:5px 10px;
	font-weight:bold;
	text-transform:uppercase;
}

.row .fields {
	width:calc(100%);
	display:inline-block;
}

.row .fields textarea {
	width:100%;
	height:100px;
}

.calculator_js {
	height:calc( 100vh - 300px );
}

.mce-tinymce.mce-fullscreen {
	position:fixed;
	z-index:9999;
}