/*
 * Mimox Mobile Styles
 *
 */


.g-cols.offset_medium {
	margin:0;
}

html, body {
	height: 100%;
}

.l-body {
	background:#fff !important;
}

body .l-canvas, a, button, input, h1, h2, h3, h4, h5, h6, p, span {
	font-smooth: antialiased !important;
	-webkit-font-smoothing : antialiased !important;
}

.header_hor .l-subheader.at_middle, .header_hor .l-subheader.at_bottom {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.has-border {
	border-bottom:solid 1px #c0ddff;
}

.l-section.has-left-border .g-cols:not(.vc_inner) {
	/* border-left:solid 1px #c0ddff;	*/
}

.l-section.has-right-border .g-cols:not(.vc_inner) {
	/* border-right:solid 1px #c0ddff;	*/
}

.w-toplink {
	display:none;
}

.l-content, .mimox-customers-menu {
	text-align:center;
}

.mimox-customers-menu .menu, .job-offer-list-sidebar ul {
	text-align:left;
}

#mammutfenyo {
	overflow:visible !important;
	width:100%;
	margin-left:0%;
}

@media(max-width:500px) {
	#mammutfenyo {
		margin-top:-35%;
	}
}

@media(min-width:768px) {
	#mammutfenyo {
		margin-left:-50%;
		width:140%;
	}
}

.pea_cook_wrapper, .pea_cook_more_info_popover_inner {
	background: rgba(8, 31, 61, 1) !important;
	border-radius:0 !important;
}

.pea_cook_btn, #pea_close {
	background-color: #ff8e3e !important;
	border:none !important;
	color: #fff !important;
	height: 30px !important;
    border-radius: 33px !important;
    letter-spacing: 2px !important;
    font-weight: 600 !important;
    box-shadow:none !important;
    text-shadow:none !important;
    font-family: "Work Sans", sans-serif !important;
    font-size:13px !important;
    display:inline-block !important;
    padding:0 20px !important;
    text-transform:uppercase;
    line-height:30px;
    width:auto !important;
    margin-left:10px !important;
}

.pea_cook_btn:hover, #pea_close:hover {
	background-color: #00adef !important;
}

@media(min-width:600px) {
	.ush_menu_1.type_desktop .w-nav-list.level_1 > .menu-item > a, .ush_menu_1.type_desktop [class*="columns"] .menu-item-has-children .w-nav-anchor.level_2 {
		font-size:12px !important;
	}
}

/* HEADING Styles */

h2 {
	font-size: 36px;
	font-weight:bold !important;
}

h3 {
	font-weight:300;
	font-size: 24px;
	line-height: 1.2;
	color: #4a4a4a;
}

#header h3 {
	font-size: 33px;
	line-height: 35px;
	margin-top:0;
	font-weight:400;
}

#header .l-section-img {
	background-size:150% auto !important;
	background-position:bottom -20px right 0px !important;
}

#header .vc_col-sm-12.wpb_column {
	padding:0;
}

#header {
	padding:0;
}

#header .vc_col-sm-12 {
	padding-left:10px !important;
}

.blue-bg .l-section-h.i-cf .g-cols.offset_medium {
	background:#e9f7fd;
}

.centeronmobile {
	text-align:center;
}

@media(min-width:320px) {
	#header .mimox-title {
		margin-top:50px;
	}
}
/*
@media(min-width:768px) {
	#header .mimox-title {
		margin-top:-320px;
	}	
}
*/
@media(max-height:320px) {
	#header .mimox-title {
		margin-top:20px;
	}
	
	#header .l-section-img {
		background-size: 80% auto !important;
		background-position: bottom 10px right 0px !important;
	}
}

@media(max-height:414px) {
	#header .mimox-title {
		margin-top:20px;
	}
	
	#header .l-section-img {
		background-size: 100% auto !important;
		background-position: bottom 10px right 0px !important;
	}
}

@media(max-height:400px) {
	#header .mimox-title {
		margin-top:20px;
	}
	
	#header .l-section-img {
		background-size: 80% auto !important;
		background-position: bottom 10px right 0px !important;
	}
}

@media(max-width:320px) {
	#header .mimox-title {
		margin-top:50px;
	}

}

/*  BUTTON Styles */

button, input[type="submit"], .w-btn.style_raised, .w-btn.w-blog-post-more, .cl-btn {
    box-shadow: none;
	height: 40px;
	border-radius: 33px !important;
	letter-spacing:2px;
	font-weight:600;
	box-shadow:none !important;
}

button:hover, input[type="submit"]:hover, .w-btn.style_raised:hover, .w-btn.w-blog-post-more:hover, button:focus, input[type="submit"]:focus, .w-btn.style_raised:focus, .w-btn.w-blog-post-more:focus {
	box-shadow:none !important;
}

.w-btn .ripple-container {
	display:none;
}

.w-btn.color_primary:hover, .cl-btn:hover {
	background-color:#00adef !important;
	cursor:pointer;
}

.w-btn.color_secondary:hover {
	background-color:#ff8e3e !important;
}

.w-btn.color_white .w-btn-label {
	color:#ff8e3e;
}

.w-btn.color_white:hover .w-btn-label {
	color:#fff;
}

.w-btn.color_white:hover {
	background-color:#ff8e3e !important;
}

/*  BUTTON Styles END */

/*  LINK Styles */

.orange, .cl-popup-trigger.type_text {
	font-size: 14px;
	line-height: 1.6;
	color: #ff8e3e;
	text-transform:uppercase;
	font-weight:600;
}

.cl-popup {
	margin-top:10px;
}

.orange:hover, .cl-popup-trigger.type_text:hover {
	color:#4a90e2;
}

a:hover {
	color:#ff8e3e;
}

/*  LINK Styles END */

/*  NAV Styles */

.ush_menu_1.type_desktop .w-nav-list.level_1 > .menu-item > a, .ush_menu_1.type_desktop [class*="columns"] .menu-item-has-children .w-nav-anchor.level_2 {
	letter-spacing:1.6px;
	text-transform:uppercase;
}

.l-subheader-h .l-subheader-cell .w-nav .okonzervativ a {
	/* padding: 5px 12px 0 12px !important; */
}

@media (max-width: 900px) and (min-width: 601px) {
	.header_hor .l-subheader.at_middle {
		line-height: 60px !important;
		height: 60px !important;
	}
}

.state_tablets .okonzervativ a .w-nav-title {
	color:#fff;
}

.l-subheader-h .l-subheader-cell .w-nav .okonzervativ a .w-nav-title {
	font-size:14px;
	text-transform:none;
	width:115px;
	white-space: normal;
	display:inline-block;
	line-height:14px;
	text-align:center;
	letter-spacing:0;
	padding-left:0px;
	text-align:left;
	font-family:'Courier New';
}

.header_hor .w-nav.type_desktop > .w-nav-list > .menu-item {
	vertical-align:middle;
}

.l-subheader-h .l-subheader-cell .w-nav-list li:last-child {
	margin:0px auto;
	border:1px solid #fff;
	border-radius:50%;
}

@media(max-width:900px) {
	.l-subheader-h .l-subheader-cell .w-nav-list li:last-child {
		display:block;
		position:absolute;
		left:50%;
		margin-left:-15px;
		bottom:162px;
	}	
}

.l-subheader-h .l-subheader-cell .w-nav .lang-item a {
	width:30px;
	height:30px;
	border-radius:30px;
	background:#00adef;
	padding:0 !important;
}

.l-subheader-h .l-subheader-cell .w-nav .lang-item.lang-item-en a .w-nav-title {
	display:none;
}

.l-subheader-h .l-subheader-cell .w-nav .lang-item.lang-item-en a {
	display:block;
	width:30px;
	height:30px;
	background-color:#00adef;
}

.l-subheader-h .l-subheader-cell .w-nav .lang-item a:before {
	font-size:10px;
	letter-spacing:0;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#fff;
	display:block;
}

.l-subheader-h .l-subheader-cell .w-nav .lang-item.lang-item-en a:before {
	content:'ENG';
}

.l-subheader-h .l-subheader-cell .w-nav .lang-item.lang-item-hu a:before {
	content:'HUN';
}

.l-subheader-h .l-subheader-cell .w-nav .lang-item a:hover {
	background-color:#ff8e3e;
}

 .header_hor .l-subheader.at_middle .type_mobile .w-nav-list.level_1 {
	width:100vw !important;
	min-height:100vh !important;
	background-color:red;
	left: 100vw !important;
	height:100vh !important;
	right:auto !important;
    position: fixed !important;
    top:50px !important;
    z-index:99;
    transition:all 0.5s ease !important;
    opacity:1 !important;
    display:block !important;
    background:#00ADEF !important;
    color:#fff !important;
    padding:30px 0 0 0;
    padding-top:30px !important;
}

@media (max-width: 900px) and (min-width: 601px) {
	.header_hor .l-subheader.at_middle .type_mobile .w-nav-list.level_1 {
		top:60px !important;
	}
}

@media (max-width: 900px) and (min-width: 568px) {
	.l-subheader-h .l-subheader-cell .w-nav-list li:last-child {
		top: 50%;
    	margin-top: -46px;
    	height:32px;
    	left:50% !important;
	}
}

 .header_hor .l-subheader.at_middle .type_mobile .w-nav-list.level_1[style*="height: auto;"] {
	left:0 !important;
	transition:all 0.5s ease;
 }
 
 .w-nav.type_mobile .w-nav-item:not(.btn) .w-nav-anchor.level_1 {
 	box-shadow:none;
 	   padding: 10px 40px;
 }
 
 .w-nav.type_mobile .w-nav-item:not(.btn) {
 	text-transform:uppercase;
 	letter-spacing:1.56px;
 }
 
 .w-nav-item.level_1.current-menu-item > .w-nav-anchor {
 	color:#4A90E2 !important;
 	background:#E9F7FD;
 }

/*  NAV Styles END */

/* HIGHLIGHTS SECTION Styles */

#highlights .vc_col-sm-4 {
	border-bottom: solid 1px #c0ddff;
	/* height:335px; */
	margin:0 -25px;
	width:100vw;
	padding:0 35px 20px 35px;
	text-align:center;
}

#highlights .vc_col-sm-4:last-child {
	border-bottom:none;
}

#highlights .vc_col-sm-4:first-child {
	/* border-left: solid 1px #c0ddff; */
}

#highlights ul {
	list-style-type:none;
	padding:0;
	margin:0 0 15px 0;
}

#highlights ul li {
  	overflow: hidden; 
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	color:#9B9B9B;
	font-size:12px;
	line-height:1.8;
	margin:0;	
}


#highlights ul li a {
	font-size:14px;
}

/* HIGHLIGHTS SECTION Styles END */

/* MIMOX INDEX SECTION Styles */

@media(max-width:768px) {
	#mimoxindex {
		height:120px;
		line-height:62px;
	}

	#mimoxindex .vc_col-sm-2 {
		margin-bottom:-10px;
	}
}

@media(min-width:768px) {
	#mimoxindex {
		height:62px;
		line-height:62px;
	}
}

#mimoxindex .orange {
	display:inline-block;
}

.mimoxindex-slider-container {
	width:100%;
	overflow:hidden;
	height:60px;
	position:absolute;
	display:inline-block;
	margin-left:10px;
	left:0;
} 

.mimoxindex-slider-container .element {
	font-size:14px;
	font-family:'Courier New';
	font-weight:normal;
	color:#9B9B9B;
	margin-right:32px;
}

.mimoxindex-slider-container .element .rank {
	font-weight:bold;
}

.mimoxindex-slider-container .element .state {
	font-size: 12px;
	line-height: 1.7;
	background:url(../images/mimoxindex-icon-equal.png) no-repeat left center;
	background-size:19px auto;
	display:inline-block;
	height:19px;
	padding-left:25px;	
}

.mimoxindex-slider-container .element .state-increase {
	color:#7ed321;
	background:url(../images/mimoxindex-icon-increase.png) no-repeat left center;
	background-size:19px auto;
}

.mimoxindex-slider-container .element .state-decrease {
	color:#d0021b;
	background:url(../images/mimoxindex-icon-decrease.png) no-repeat left center;
	background-size:19px auto;
}

.mimoxindex-slider-container .element .state-equal {
	color:transparent;
}

.mimoxindex-slider-container .prev, .mimoxindex-slider-container .next {
	width:100px;
	background:red;
	position:absolute;
	height:60px;
	top:0;
	z-index:9;
}

.mimoxindex-slider-container .prev {
	left:0;
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.mimoxindex-slider-container .next {
	right:0;
	background: -moz-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

/* MIMOX INDEX SECTION Styles END */

/* FOOTER SECTION Styles */

#contact .map-preview img {
	width: 100%;
}

footer .logo {
	width:115px;
	font-size:12px;
	margin-bottom:14px;
}

footer .title {
	text-transform:uppercase;
	font-weight:600;
}

footer .email {
	margin:10px 0 0 0;
}

@media(min-width:768px) {
	footer .email {
		margin-left:-15px;
	}
}


footer a {
	font-weight:400;
}

footer a:not(.w-btn):hover {
	color:#fff !important;
	text-decoration:underline;
	cursor:pointer;
}

footer .email .w-btn-label {
	text-transform:none;
	color:#ff8e3e;
	letter-spacing:0;
}

.l-subfooter.at_top {
    box-shadow: none;
    padding:0;
}

@media(min-width:768px) {
	.l-subfooter .g-cols .vc_col-sm-6:nth-child(2) {
		padding-left:35px;
		padding-top: 10px;
	}
}

.l-subfooter .widget_text {
	margin-bottom:0;
}

@media(min-width:600px) {
	.l-subfooter.at_top {
		padding: 0px;
	}
	
	footer .logo {
		margin-top:30px;
	}
}

@media(max-width:768px) {
	.l-subfooter .widget {
		margin-bottom:0;
	}
	
	.l-subfooter-h .textwidget {
		text-align:center;
		margin-bottom:20px;
	}
	
	.l-subfooter-h .textwidget .logo {
		margin:0px auto 15px auto;
	}
}

@media(min-width:768px) {
	.l-subfooter-h .textwidget {
		text-align:left;
		margin-bottom:0px;
	}
	
	.l-subfooter-h .textwidget .logo {
		margin:20px 0 0 0;
	}
}

.l-subfooter.at_top .ult-spacer {
	height:79px;
}

.l-subfooter.at_top .vc_col-sm-6:first-child {
	padding-left:0;
}

.l-subfooter.at_top .vc_col-sm-6:first-child .widget {
	margin-bottom:0;
}

.l-subfooter .g-cols .vc_col-sm-6:first-child {
	padding:0;
}

.l-subfooter .ult-spacer {
	display:none !important;
}

/* FOOTER SECTION Styles END */

/*  JOB OFFER LIST Styles */

.job-offer-list {
	list-style-type:none;
	padding:0;
	margin:0;
}

.wpml_lang_en .job-offer-list {
	padding-left:10px !important;
}


.job-offer-list .job-offer a {
	font-family: 'Courier New';
	margin-right: 10px;
}

.job-offer-list .job-offer .location {
	font-style:italic;
	margin-left:0px;
	font-family: 'Courier New';
	font-weight:normal;
	color:#9B9B9B;
	font-size:13px;
}

.job-offer-list .job-offer.job-offer-new:before {
	display:inline-block;
	height:17px;
	line-height:17px;
	padding:0 5px;
	color: #4a4a4a;
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
	position:absolute;
	margin:4px 0 0 -27px;
	background:#fff;
	border-radius: 6px;
}

.wpml_lang_hu .job-offer-list .job-offer.job-offer-new:before {
	content:'új!';
}

.wpml_lang_en .job-offer-list .job-offer.job-offer-new:before {
	content:'new';
	margin-left:-35px;
	padding:0 3px;
}

/*  JOB OFFER LIST Styles END */


/*  EXTENDED JOB OFFER LIST Styles */

.job-offer-list-extended {
	margin:0 -35px;
	border-top:1px solid #c0ddff;
}

@media(min-width:600px) {
	.job-offer-list-extended {
		margin:0px;
	}
	.job-offer-list-extended .for-you-if {
		padding: 10px 0 10px 0px !important;
		width: 260px;
	}
	.job-offer-list-extended .details {
		float:left;
	}
}

.job-offer-list-extended a {
	display:block;
	font-weight:bold;
}

.job-offer-list-extended .salary {
	display:block;
    margin-left: 0px;
    font-family: 'Courier New';
    font-weight: normal;
    color: #9B9B9B;
    font-size: 13px;
	font-weight:bold;
}

.job-offer-list-extended li {
	border-bottom:1px solid #c0ddff;
	padding:0 35px;
	margin-bottom:0;
}

.job-offer-list-extended li::before {
	margin-top:14px !important;
}

.job-offer-list-extended li::after {
	content:"";
	display:table;
	clear:both;
}

.job-offer-list-extended .details {
	width:290px;
	padding:10px 0;
}

.job-offer-list-extended .for-you-if {
	padding:0  0 10px 0px;
	float:left;	
	font-family:'Courier New';
	font-size:14px;
	color: #4A4A4A;
}

/*  EXTENDED JOB OFFER LIST Styles END */


/* FORM Styles */

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="number"], input[type="date"], input[type="search"], select {
	height: 40px;
	line-height:40px;
	border-radius: 10px;
  	-webkit-appearance: none;
  	-moz-appearance: none;
  	-webkit-border-radius: 10px;
  	-moz-border-radius: 10px;
	background-color: #ffffff !important;
	border: solid 1px #c0ddff !important;
	font-weight: 300;
	font-size: 14px;
	color: #9b9b9b;
	padding:0 19px;
	box-shadow:none !important;
}


select::-ms-expand {
    display: none;
}

textarea {
	border-radius: 10px;
  	-webkit-appearance: none;
  	-webkit-border-radius: 10px;
	background-color: #ffffff !important;
	border: solid 1px #c0ddff !important;
	font-weight: 300;
	color: #9b9b9b;
	padding:0 19px;
	box-shadow:none !important;
}

textarea:focus {
	border-color:#ff8e3e !important;
}

.w-form-row-label, .w-form-row-field-bar {
	display:none !important;
}

input:focus {
	box-shadow:none;
}

input.error {
	border-color:red !important;
	color:red !important;
}

label[for="select"] {
	position:relative;
}

label[for="select"]:after, .wpcf7-form-control-wrap.type_select:after {
	content:'';
    border-left:1px solid #aaa;
    border-bottom:1px solid #aaa;
    color:#aaa;
    width:12px;
    height:12px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    transform:rotate(-45deg);
    right:13px; 
    top:6px;
    position:absolute;
    pointer-events:none;   
}

.mimox-form .form-row {
	margin-bottom:20px;
}

.widget_search .w-btn {
	line-height:normal;
}

.widget_search .w-btn:before {
    margin: -15px -30px;
    position: absolute;
}


input[type=file] {
	opacity:0;
	position:absolute;
}

.file-upload-container {
	margin-bottom:20px;
}

.file-upload-container .upload {
	height:25px;
	line-height:25px;
	font-size:14px;
	letter-spacing:0;
	margin-right:15px;
}

.wpml_lang_hu .file-upload-container .upload {
	content:'Upload' !important;
}

.file-upload-container .tooltip {
	display:none;
}

/* FORM Styles END */


/* WPCF7 styles */

.wpcf7 .row {
	margin-bottom:0px;
}

.wpcf7 .row label {
	text-align: right;
	color: #4a4a4a;
	text-transform:uppercase;
	font-weight:normal;
	font-size:12px;
	line-height: 20px;
    margin-top: 12px;
	margin-right:19px;
}

.wpcf7-radio label {
	    display: block !important;
	    width: auto !important;
	    float: none !important;
	    text-align: left !important;
	    line-height: 30px !important;
}

.wpcf7-form-control.wpcf7-radio {
    	display: inline-block;
	margin-top: -30px;
}

.wpcf7 .row input, .wpcf7 .row select, .wpcf7 .row textarea {
	/* width:300px; */
}

.wpcf7 input[type="submit"] {
	margin-top:20px;
}

.wpcf7 label[for=accept-terms] {
	display:none;
}

.wpcf7 .accept-terms {
	margin-top:20px;
}

.wpcf7 .row textarea {
	height:60px;
}

.wpcf7-form-control-wrap.type_select:after {
	top:10px;
	right:17px;
	background:transparent !important;
}

.wpcf7 .row input[type=tel] {
	width:175px;
}

.wpcf7-form-control-wrap {
	max-width:305px;
}

.wpcf7 input[type=submit] {
	width:auto;
	font-size:14px;
	letter-spacing:2px;
	font-weight:600;
}

.wpcf7 input[type=submit]:not([disabled]):hover {
	background-color:#00adef;
}

.wpcf7 input[type=checkbox] {
	display:block;
	float:left;
	width:20px;

}

.wpcf7 input[type=checkbox]::before {
	position:absolute;
	width:19px;
	height:19px;
	background:#fff;
	content:'';
	border-radius:5px;
	border: solid 1px #c0ddff;
	font: normal normal normal 16px/1 FontAwesome;
	color:#00adef;
	line-height:20px;
	text-align:center;
}

.wpcf7 input[type=checkbox]:checked::before {
	content:'\f00c';
}

.wpcf7 {
	color: #4a4a4a;
}

@media(max-width:767px) {
	.wpcf7 {
		min-width:100vw;
	}
}

@media(min-width:768px) {
	.wpcf7 {
		width:80% !important;
		margin-left:20% !important;
	}
}

.wpcf7 .file-upload-container .upload {
	float:left;
}

.wpcf7 .file-upload-container .filename {
	max-width:180px;
	overflow:hidden;
	text-overflow:ellipsis;
	display: inline-block;
	margin-top:4px;
	margin-bottom: -5px;
}

.lightbox-job-apply .wpcf7 .left {
	padding-bottom:20px;
}

.lightbox-job-apply {
	max-width: 84vw;
}

.wpcf7 .left, .wpcf7 .right {
	width:42%;
	float:left;
	transition: all 0.6s ease;
	padding-right:0px;
}

.wpcf7 .left {
	margin-right:8%;
}

.wpcf7 h3 {
	text-align:center;
}

#form-lightbox-appointment .wpcf7 .left, #form-lightbox-appointment .wpcf7 .right {
	width:42%;
	float:left;
	padding-bottom:250px;
}

.wpcf7 form {
	 width:200%; 
}

.wpcf7.emailsent .left {
	margin-left:-50%;
	transition: all 0.6s ease;
}

.wpcf7 {
	width:50%;	
	overflow:hidden;
}

.wpcf7 .right p {
	max-width:370px;
	text-align:center;
	margin:0px auto;
}

.wpcf7 .right {
	text-align:center;
}

.wpcf7 .right h3.success {
	background:url(../images/icon-for-you-if.png) no-repeat center left;
	background-size:52px 52px;
	display:inline-block;
	height:52px;
	line-height:25px;
	padding-left:70px;
	text-align:left;
}

.wpcf7 .right h3:not(.success) {
	margin-top:10px;
}

.wpcf7 .right .w-btn {
	margin-top:32px;
}

.wpcf7 span[role=alert] {
	text-align:left;
}

.wpcf7 .steps {
	display:none;
	margin:0;
	padding:0;
	list-style-type:none;
	border-top: solid 1px #c0ddff;
	padding:31px;
	margin:40px -30px 0px -30px;
	padding-bottom:0px;
	width: 660px;
	position:absolute;
	bottom:0;
}

.wpcf7 .steps::after {
	content:"";
	display:table;
	clear:both;
}

.wpcf7 .steps .step {
	float:left;
	width:195px;
	background:url(../images/arrow-right.png) no-repeat 180px 32px, url(../images/arrow-right.png) no-repeat -10px 32px;
	background-size:35px 16px;
}

.wpcf7 .steps .step:first-child {
	background:url(../images/arrow-right.png) no-repeat 180px 32px;
	background-size:35px 16px;
}

.wpcf7 .steps .step:last-child {
	background:url(../images/arrow-right.png) no-repeat -10px 32px;
	background-size:35px 16px;
}

.wpcf7 .steps .step .number {
	width:78px;
	height:78px;
	line-height:72px;
	text-align:center;
	border: solid 3px #00adef;
	font-size:60px;
	display:block;
	border-radius:50%;
	font-weight:600;
	color:#9b9b9b;
	margin:0px auto;
}

.wpcf7 .steps .step.step-active .number {
	background:#00adef;
	color:#fff;
}

.wpcf7 .steps .step.step-success .number:after {
	width:26px;
	height:26px;
	content:'';
	display:block;
	background:url(../images/checkmark-green.png) no-repeat center center;
	background-size:100% auto;
	position:absolute;
	margin: -23px 0 0 50px;
}

.wpcf7 .steps .step .label {
	font-size: 14px;
	line-height: 1.9;
	letter-spacing: 2px;
	color: #9b9b9b;
	font-weight:600;
	text-transform:uppercase;
	text-align:center;
	display:block;
	margin:24px;
	line-height:1.4;
}

.wpcf7 .wpcf7-response-output {
	display:none !important;
}

.cl-popup.align_left {
	text-align:center !important;
}

/* WPCF7 styles END */


/* NET sallary calculator Styles */
.mimox-form.mimox-form-calculator::after {
	content:"";
	display:table;
	clear:both;
}

.mimox-form.mimox-form-calculator .fields {
	width:205px;
	margin: 0 auto;
}

.mimox-form.mimox-form-calculator input[name="net_sallary"] {
	padding-right:50px;
}

.mimox-form.mimox-form-calculator .currency {
	position:absolute;
	font-size: 14px;
	line-height:40px;
	color: #4a4a4a;
	margin-left:-45px;
}

.mimox-form.mimox-form-calculator select[name="no_of_children"] {
	width:183px;
}

.mimox-form.mimox-form-calculator .calculate:hover {
	cursor:pointer;
}

.mimox-form.mimox-form-calculator .result {
	font-weight:300;
	width:200px;
	opacity:0;
	margin:-10px auto 10px auto;
}

.mimox-form.mimox-form-calculator .result label {
	font-size: 14px;
	color: #9b9b9b;
}

.mimox-form.mimox-form-calculator .result .value {
	font-size: 30px;
	color: #4a4a4a;
	display:block;
	margin-top: 10px;
}

/* NET sallary calculator Styles END */


/* Customers left sidebar Styles */
.l-sidebar {
	padding:0;
}

.sidebar_left .l-content {
	width:74%;
	padding:60px 0px 50px 0px;
}

.sidebar_left .l-main-h {
}

.sidebar_left .l-sidebar {
	width:26%;
	padding-top:0;
}

.sidebar_left .l-sidebar h2 {
	background:#e9f7fd;
	color: #4a4a4a;
	font-size:24px;
	font-weight:300 !important;
	padding:29px 10px 10px 29px;
	margin-bottom:0;
}

.sidebar_left .l-sidebar .textwidget {
	background:#e9f7fd;
	border-bottom:1px solid #c0ddff;
	font-size: 14px;
	line-height: 1.6;
	padding:0px 10px 20px 29px;
}

.sidebar_left .l-sidebar .textwidget .orange {
	display:block;
	margin-top:15px;
}

.l-footer {
	font-weight:300;
}

.mimox-customers-menu {
	margin:0 -15px;
	width:100vw;
	background:#e9f7fd;
}

.mimox-customers-menu .textwidget {
	max-width:400px;
	margin:0 auto;
}

.l-subfooter, .l-titlebar, .l-canvas.sidebar_left .l-main, .l-canvas.sidebar_right .l-main, .l-canvas.sidebar_none .l-section {
    padding-left: 15px;
    padding-right: 15px;
}

.mimox-customers-menu .menu {
	position:fixed;
	top:5px;
	width:100vw;
	z-index:99;
	background:#fff;
    max-height: 90%;
    overflow-y: scroll;
}

.mimox-customers-menu.open .menu {
    border-bottom:5px solid #ff8e3e;
}

.mimox-customers-menu ul {
	list-style-type:none;
	font-size: 14px;
	line-height: 2.9;
	padding:0;
}

.mimox-customers-menu div > ul {
	margin:44px 0 0 0;
}

@media(min-width:768px) {
	.mimox-customers-menu div > ul {
		margin:53px 0 0 0;
	}	
}

.mimox-customers-menu div > ul ul.sub-menu {
	margin:0;
	display:none;
}

.mimox-customers-menu div > ul li.current-menu-parent ul.sub-menu, .mimox-customers-menu div > ul li.current-menu-parent ul.sub-menu li.current-menu-item {
	display:block;
}

.mimox-customers-menu div > ul ul.sub-menu li a {
	padding-left:58px;
}

.mimox-customers-menu ul li {
	border-bottom:1px solid #c0ddff;
	margin:0;
}

.mimox-customers-menu ul li:first-child {
	border-top:1px solid #c0ddff;
}

.mimox-customers-menu ul li a {
	display:block;
	padding-left:38px;
	font-weight:400;
	display:none;
}

.mimox-customers-menu.open ul li a {
	display:block;
}

.mimox-customers-menu ul .current-menu-item > a {
	background-color:#00adef;
	color:#fff;
	display:block;
}

.mimox-customers-menu ul .current-menu-item ul.sub-menu {
	display:none;
}

.mimox-customers-menu ul .current-menu-item ul.sub-menu li:last-child {
	border-bottom:none;
}

.mimox-customers-menu.open ul .current-menu-item ul.sub-menu {
	display:block;
}

.mimox-customers-menu ul .current-menu-item a::after {
	content:'';
    border-left:1px solid #fff;
    border-bottom:1px solid #fff;
    width:12px;
    height:12px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    transform:rotate(-45deg);
    right:23px; 
    top:10px;
    position:absolute;
    pointer-events:none;   
}

/* Customers left sidebar Styles END */

/* Right sidebar styles */

.mimox-job-offers-sidebar h2 {
	font-size: 24px;
	font-weight:300 !important;
}

.sidebar_right .l-main {
	padding:50px 0 0 0 !important;
}

/* RIGHT SIDEBAR styles END */

/* FOOTER Styles */

.l-footer {
	font-weight:300;
}

.l-subfooter .at_bottom a:hover, .l-subfooter .at_bottom a:hover span {
	color:#ff8e3e !important;
}

.l-subfooter .at_bottom a, .l-subfooter .at_bottom a span {
	color:#00adef !important;
}

/* FOOTER Styles END */


/* SINGLE BLOG POST Page styles */

.sidebar_right .l-main-h {
	background-color:#e9f7fd;
}

.sidebar_right .l-section-h {
	padding-top:0;
}

.sidebar_right .l-content {
	width:75%;
	background-color:#fff;
}

.g-cols.offset_medium > div, .g-cols.offset_large > div {
    padding-left: 10px;
    padding-right: 10px;
}

.g-cols.offset_medium > div, .g-cols.offset_large > div {
    padding-left: 10px;
    padding-right: 10px;
}

.g-cols .wpb_column .wpb_column {
	padding-left:0;
	padding-right:0;
}

.sidebar_right .w-blog-post-body, .sidebar_right .l-section-h[itemprop="text"], .sidebar_right .for_comments, .sidebar_right .for_sharing  {
	padding:0 30px;
}

.w-sharing.type_simple .w-sharing-item {
	border:none;
}

.w-blog-post-more {
	padding:0;
}

.w-blog-post-more {
	background:transparent !important;
}

.w-blog-post-more:hover .w-btn-label {
	color:#00adef;
}

.w-blog-post-more .w-btn-label {
	color:#FF8E3E;
	font-size:14px;
}

.sidebar_right .for_author {
	border-top: solid 1px #c0ddff;	
}

.sidebar_right .l-sidebar {
	padding:30px;
	font-weight:300;
}

.sidebar_right .l-sidebar .orange {
	display:block;
	margin-top:10px;
}

.sidebar_right .w-blog-post-title {
	font-weight:700;
	font-size:36px;
}

.mimox-after-blog-widget-area {
	text-align:center;
	border-top: solid 1px #c0ddff;
	padding:76px 0;
}

.mimox-after-blog-widget-area .textwidget {
	max-width:578px;
	margin:0px auto;
}

.mimox-after-blog-widget-area h2 {
	font-size:24px;
	font-weight:300 !important;
}

.mimox-after-blog-widget-area .w-btn-wrapper {
	margin-top:25px;
}

.single-post .w-author {
	background:#e9f7fd !important;
	padding:30px !important;
}

.single-post .w-author::after {
	content:"";
	display:table;
	clear:both;
}

.single-post .w-author .w-author-img {
	margin-right:20px;
}

.single-post .w-author .w-author-contact-detail {
}

.single-post .w-author .w-author-phone {
	line-height:28px;
}

.single-post .w-author .socials {
	/* margin-top:75px; */
	width:100%;
}

.single-post .w-author .socials a {
	margin:0px auto;
}

.single-post .w-author .w-author-name {
	margin-top:0;
}

/* SINGLE BLOG POST Page styles END */


/* BLOG LIST Page styles */

.blog .l-main, .single-post .l-main {
	padding:50px 0 0 0 !important;
}

.blog .l-section-h {
	padding-bottom:0;
}

.blog .w-blog-post-preview {
	max-height:300px;
	overflow:hidden;
}

/* BLOG LIST Page styles END */


/* SINGLE JOB OFFER Page styles */

.type-mimox_job_offers {
	padding:70px 0 0 0 !important;
}

.mimox_job_offers .l-section-h {
	padding:0;
}

.job-container {
	font-family: 'Courier New';
	width:100%;
	float:right;
	background-color:#e9f7fd;
}

.job-container .job-header {
	padding-top:57px;
	padding-bottom:30px;
	padding-left:0px;
	background-color:#fff;
}

.job-container .job-header::after {
	content:"";
	display:table;
	clear:both;
}

.job-container .job-header .title {
	font-family: 'Courier New';
	font-weight:bold;
	font-size: 26px;
	margin-bottom:10px;
	margin-right: 10px;
}

.job-container .job-header .salary, .job-container .job-header .benefits {
	font-size:14px;
	font-weight:regular;
	width:230px;
	/* float:left; */
	margin: 0 auto 20px auto;
	margin-bottom:20px;
}

.job-container .job-header .benefits {
	width:250px;
	margin: 0 auto;
	float:none;
}

.job-container .job-header .dress-code {
	width:100%;
	height:40px;
	float:left;
	margin: 20px 0 0 0px;
}

.job-container .job-header .dress-code img {
	max-width:36px;
}

.job-container .job-header .salary .expected-salary {
	font-size:18px;
	font-weight:bold;
}

.job-container .calculator-trigger .cl-btn {
	font-family: "Work Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    letter-spacing: 0;
}

.job-container .job-header .salary .expected-salary *:not(.expected-salary-extra) {
	/* float:left; */
}

.job-container .job-header .salary .expected-salary .expected-salary-extra {
	font-size:13px;
	font-weight:normal;
	line-height:18px;
	display:block;
	width:193px;
}

.job-container .job-header .salary .expected-salary .expected-salary-currency {
	margin-left:0px;
	float:none !important;
}

.job-container .job-header .salary label, .job-container .job-header .benefits label {
	text-transform:uppercase;
	display:block;
}

.job-container .job-header .salary .w-btn {
	font-family:"Work Sans", sans-serif;
	font-size:14px;
	font-weight:600;
	height:25px;
	line-height:25px;
	padding:0 10px;
	letter-spacing:0;
}

.job-container .job-body {
	width:100%;
	float:left;
	background-color:#fff;
}

.job-container .job-body .job-description {
	padding:30px 20px 30px 30px;
	border-bottom:1px solid #c0ddff;
}

.job-container .job-body .job-requirements {
	padding:30px 20px 30px 30px;
}

.job-container h3, .job-container h4, .job-container h5, .job-container h6 {
	font-family: 'Courier New';
	font-weight:bold;
} 

.job-container h4 {
	font-size:14px;
	margin-bottom:10px;
}

.job-container .job-body ul {
	margin-left:0;
	list-style-type:none;
}

.job-container .job-body ul li:before {
	display:block;
	content:'';
	border:1px solid #00adef;
	border-radius:8px;
	width:8px;
	height:8px;
	display:inline-block;
	position:absolute;
	margin:7px 0 0 -20px;
}

.job-container .job-body hr {
	border:none;
	border-bottom:1px solid #c0ddff;
	margin:10px -20px 10px -93px;
}

.job-container .job-body .job-apply-box {
	text-align:center;
	font-family:'Work Sans';
	margin-bottom:85px;
}

.job-container .job-body .job-apply-box h3 {
	font-family:'Work Sans';
}

.job-container .job-body .job-apply-box .w-btn {
	width:300px;
}

.job-container .job-sidebar {
	width:100%;
	float:right;
}

.job-container .socials {
    margin: -40px auto 0 auto;
    width: 40px;
    padding-left: 35px;
    position:relative !important;	
}

.job-container .w-author {
	padding-bottom:20px !important;
}

.job-container .job-place-of-work {
	background:url(../images/icon-place-of-work.png) no-repeat 25px 0;
	background-size:21px auto;
	min-height:30px;
	padding-left:67px;
	margin:18px 0 13px 0;
}

.job-container .job-for-you-if {
	background:url(../images/icon-for-you-if.png) no-repeat 22px 0;
	background-size:30px auto;
	min-height:30px;
	padding-left:67px;
	margin:18px 0 13px 0;
}

.job-container .job-excerpt-desktop {
	display:none;
}

.job-container .job-excerpt-mobile {
	background:#E9F7FD;
	padding-right: 20px;
}

.job-container .job-sidebar .job-author {
	margin-top:20px;
}

.job-container .job-sidebar .job-author h3.title {
	font-family: 'Work Sans';
	font-weight:300;
	font-size: 24px;	
	margin:0px 40px 10px 40px;
	text-align:center;
}

.job-offer-list-sidebar {
	width:100%;
	float:left;
	padding:42px 0 0 0px;
	position:fixed;
	top:8px;
	background:#fff;
	z-index:9;
}

@media(min-width:768px) {
	.job-offer-list-sidebar {
		padding:52px 0 0 0px;
	}
}

.job-offer-list .current a::after {
    content: '';
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 12px;
    height: 12px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 23px;
    margin-top:16px;
    position: absolute;
    pointer-events: none;
}

.job-offer-list.open .current a::after {
	transform: rotate(-225deg);
	margin-top:35px;
}

.job-offer-list-sidebar li {
	display:none;
}

.job-offer-list-sidebar .current, .job-offer-list.open li {
	display:block;
}

.job-offer-list-sidebar .send-your-cv-now {
	padding:26px 38px;
	background-color: #e9f7fd;
	display:none;
}

.job-offer-list-sidebar .send-your-cv-now p {
	font-weight:300;
}

.job-offer-list-sidebar .job-offer-list li {
	border-bottom:1px solid #c0ddff;
	padding:5px 0 5px 38px;
	margin:0;
}

.job-offer-list-sidebar .job-offer-list .current {
	background-color:#00adef;
}

.job-offer-list-sidebar .job-offer-list .current a, .job-offer-list-sidebar .job-offer-list .current .location {
	color:#fff;
}

.job-offer-list-sidebar .job-offer-list li a {
	display:block;
	overflow: hidden; 
	text-overflow: ellipsis;
	white-space: nowrap;
	margin:0 5px -5px 0;
}

.job-offer-list-sidebar .job-offer-list li .location {
	margin-left:0;
	color:#9B9B9B;
	font-size:13px;
	font-family: 'Courier New';
	font-weight:normal;
	overflow: hidden; 
	text-overflow: ellipsis;
	white-space: nowrap;
    margin-right: 60px;
    display: block;
}

.mimox_job_offers .w-blog {
}

.mimox_job_offers .w-blog::after {
	content:"";
	display:table;
	clear:both;
}

.mimox_job_offers .for_author .w-author-img {
	float:none;
}

/* SINGLE JOB OFFER Page styles END */


/* AUTHOR BOX styles */

.for_author {
	font-family:'Work Sans';
	padding:10px 10px 0 44px;	
}

.for_author {
	padding:0;
}

.for_author .socials {
	position:absolute;
	margin-top:-40px;
}

.for_author .socials a {
	background:#fff;
	width: 35.6px;
	height: 35.6px;
	text-align:center;
	display:block;
	border-radius:50%;
	line-height:44px;
}

.for_author .socials .linkedin {
	left:66px;
	color:#4a90e2;
}

.for_author .socials a i {
	font-size:22px;
}

.for_author .w-author-img {
	width:100%;
	height:100px;
	display:block;
}

.for_author .w-author-img img {
	width:100px;
	height:100px;
}

.for_author .w-author-name {
	margin:18px 0 0 0;
	font-size:14px;
	font-weight:600;
}

.for_author .w-author-desc {
	margin:0 10px 0 0;
	font-size:14px;
	font-weight:300;
	line-height:20px;
}

.for_author .w-author-img img {
	width:100px;
	height:100px;
}

.for_author .w-author {
	background:transparent;
	padding:0;
	overflow:visible;
}

.for_author .w-author-contact {
	margin-top:9px;
}

.for_author .w-author-contact .title {
	display:block;
	font-size:12px;
	font-weight:600;
	text-transform:uppercase;
}

.for_author .w-author-contact .phone a {
	color:inherit;
}

.for_author .w-btn-wrapper {
	margin-left:0px;
}

.for_author .w-btn {
	height: 26px;
	line-height: 26px;
	padding:0 15px;
}

.for_author .w-btn .w-btn-label {
	font-family:'Work Sans';
	font-size: 14px;
	line-height: 26px;
	text-transform:none;
	letter-spacing:0;
	margin-left:
}

/* AUTHOR BOX styles END */


/* LIGHTBOX styles */

{
	padding:30px 30px 60px 30px;
	margin-bottom:0;
	width: 96vw !important;
}

#cboxClose {
	top:10px;
	right:5px;
	width:20px;
	height:20px;
	color:transparent;
}

#cboxClose::after {
	display:block;
	content:'\f00d';
	font: normal normal normal 17px/1 FontAwesome;
	width:20px;
	height:20px;
	color:#ff8e3e;
	position:absolute;
	top:0;
	right:0;
}

#cboxOverlay {
    background: #e9f7fd;
}

#cboxWrapper #cboxTopLeft, #cboxWrapper #cboxTopCenter, #cboxWrapper #cboxTopRight, #cboxWrapper #cboxMiddleLeft, #cboxWrapper #cboxMiddleRight, #cboxWrapper #cboxBottomLeft, #cboxWrapper #cboxBottomCenter, #cboxWrapper #cboxBottomRight {
	display:none;
}

#cboxContent {
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.29);	
	width:96vw !important;
	margin-left:2vw;
}

#cboxContent h3 {
	text-align:center;
}

/* LIGHTBOX styles END */

/* LIGHTBOX CALCULATOR styles */

.lightbox-calculator h3 {
	text-align:center;
}

/* LIGHTBOX CALCULATOR styles END */


/* TEAM MEMBER styles */

.mimox-team-member .for_author {
	padding:0 0 20px 0 !important;
	margin-bottom:20px;
	border-bottom:1px solid #c0ddff;
}

.mimox-team-member .for_author .w-author-img {
	/* position:absolute; */
	margin:0px auto;
}

.mimox-team-member .for_author .socials {
	margin-top:-35px;
	margin-left: 40px;
	text-align:center;
	width:100%;
	position:relative;
}

.mimox-team-member .for_author .socials a {
	display:inline-block;
}

.mimox-team-member .for_author .w-author-name {
	/* margin-top:50px; */
}

.mimox-team-member .for_author .w-author-name, .mimox-team-member .for_author .w-author-desc, .mimox-team-member .for_author .w-author-contact {
}

.mimox-team-member .for_author .w-author-contact {
}


/* TEAM MEMBER styles END */


/* SOCIAL SHARING styles */

.addtoany_list a span {
	border-radius:50% !important;
	padding:15px;
	background-position:center center;
}

/* SOCIAL SHARING styles END */


/* OKONZERVATIV styles */

.page-id-17 .l-canvas {
    box-shadow: none;
}

.okonzervativ-container .details {
	padding-top:50px;
}

.okonzervativ-container {
	font-family:'Courier New';
	width:100vw;
	padding:80px 25px 25px 25px;
	/* position:fixed; */
	width:100vw;
	/* height:100vh; */
	left:0;
	top:0;
	/* overflow-y:auto; */
	-webkit-overflow-scrolling: touch;
	overflow-x:hidden;
  	text-overflow: ellipsis;
}

.okonzervativ-container .requirements, .okonzervativ-container .details {
  	text-overflow: ellipsis;
}

.okonzervativ-container a {
	color:#00ADEF;
	text-decoration:underline;
}

.okonzervativ-container .back-to-top {
	text-transform:uppercase;
	font-weight:600;
}

.okonzervativ-container h1, .okonzervativ-container h2, .okonzervativ-container h3, .okonzervativ-container h4, .okonzervativ-container h5, .okonzervativ-container h6 {
	font-size:14px !important;
	font-family:'Courier New' !important;
	font-weight:bold !important;
}

.okonzervativ-header {
	position:fixed;
	top:0;
	left:0;
	height:60px;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
	width:100vw;
	line-height:60px;
	padding:0 20px;
	background:#fff !important;
	font-family:'Courier New' !important;
	z-index:3;
}

.okonzervativ-header .logo {
	float:left;
	text-transform:uppercase;
	font-weight:bold;
	color:#4A4A4A;
}

.okonzervativ-header .back-to-home {
	float:right;
	color:#4A4A4A;
}

.okonzervativ-header .back-to-home .desktop {
	display:none;
}

.okonzervativ-container img {
	display:block;
	margin-top:10px;
}

.okonzervativ a {
	color:#00ADEF;
}

@media(max-width:900px) {
	.okonzervativ.menu-item a {
		color:#fff;
	}
}

@media(min-width:900px) {
	.l-subheader-h .l-subheader-cell .w-nav .okonzervativ a .w-nav-title {
		font-size:12px !important;
		text-align:center;
	}
	
	.w-nav-item.level_1.current-menu-item > .w-nav-anchor {
		background:transparent;
	}
	
	.w-nav-item.level_1.current-menu-item > .w-nav-anchor .w-nav-title {
		color:#ff8e3e;
	}
	
	.ush_image_1 img {
		max-width:100%;
		width:auto;
		height:auto;
		display:inline-block;
	}
}

/* OKONZERVATIV styles END */

/* CARREER ADVICE styles */

#career-advice .vc_col-sm-12 {
	padding:0;
}

/* CARREER ADVICE styles END */
